$mainFeature: #87a4b7;
$lightFeature: #93acbb;
$mainBg: #eaeaea;
$darckTextColor: #9aa8b0;
$mutedTextColor:#cdcdcd;
$darckBg: #5f5f5f;

$emailBg: #c1cbd1;

$textAreaBg: #D6DADD;

$labelBg: #dfdfdf;
$labelTextColor: #88a5b7;
$labelBorder: #ccc;

$inputBg: #ededed;
$inputTextColor: #999;
$inputPlaceholderColor: #d5d5d6;