$mainBG: #fec107;
$boldTextColor: #1b1b1b;
$mutedTextColor: #808080;
$inputBorder: lightgrey;
$logInBtnColor: #ffbd0c;
$socialBtn_1: #2bb5e6;
$socialBtn_2: #415a92;
$socialBtn_3: #cb4627;
$signUpBtnColor: #72d848;
