@import 'colors.scss';

#socialLogin {
  width: 40%;
  &__header{
    color: $mutedTextColor;
    &:before {
      content: '';
      width: 50px;
      height: 2px;
      display: inline-block;
      vertical-align: middle;
      background: $inputBorder ;
    }
    &:after {
      content:"";
      width: 50px;
      height: 2px;
      display: inline-block;
      vertical-align: middle;
      background-color: $inputBorder;
    }
    }
  }
